/* start styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(62, 105, 76);
    max-height: 100%;
}

.container {
    width: 50%;
    background-color: cadetblue;
    border: 5px solid rgba(0, 0, 0, 0.822);
    margin: 2% auto;
    padding: 1em;
    border-radius: 20px;
}

div {
    text-align: center;
}

img {
    height: 100px;
}

h1 {
    text-align: center;
    font-size: 3rem;
    border: 2px solid rgba(0, 0, 0, 0.904);
    width: 50%;
    margin: 0 auto;
    background-color: cadetblue;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.253);
}

h2 {
    color: brown;
}

h3 {
    color: rgba(12, 1, 22, 0.842);
    text-align: center;
    font-size: 2rem;
}

input,
select {
    height: 50px;
    text-align: center;
    margin: 10px;
    font-size: 1rem;
}

.btn {
    width: 50%;
    margin: 10px auto;
    font-size: 2rem;
    border-radius: 20px;
}

.btndiv {
    width: 100%;
}